body {
    background-image: url('https://img.freepik.com/free-vector/group-therapy-illustration-concept_52683-45727.jpg?w=996&t=st=1704981763~exp=1704982363~hmac=aaff3fec9ce4bd681c6192f696447e03cf996038711d5e342d6d6fc60b29c47f');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    height: min-content;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 38px;
    color: #fafafa;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.form-control {
    border: 2px solid #8a8a8a;
    border-radius: 6px;
    background-color: #f8f8f8;
    padding: 12px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #5cb3fd;
    box-shadow: 0 0 8px rgba(92, 179, 253, 0.5);
}

.submit{
    font-size: 18px;
    margin-top: 15px;
    background-color: #f98bc27c;
    color: #010101;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px;
}
.submit:hover, 
.submit:active {
    background-color: #f98bc2e8;
}
